body, .sidebar, .main {
    background-color: white;    /*lightgray*/
}
.sidebar, .main{
    height: 200px;
}
div{
    margin:0 10px;
}
.wrap{
    background-color: #e8e0ec; /*white*/
    height: 300px;
}
.sidebar{
    float: left;
    overflow: auto;
}
.main{
    margin-left: 100px;
    overflow: auto;
}