
body{
    text-align: center;
    font-family: 'Gugi', cursive;
    background-image: linear-gradient(to right, #788cff, #A7BAFF);
}

div{
    padding: 20px ;  /*20% y 20 a los constados*/
    margin: 30px;
    border: 2px solid   #7a8aac;
    border-radius: 20px;
    background-color: rgba(167,186,255,0.33);

}
.img usuario{
    width: 50%;
    border-radius: 50%;
}

span{
    font-weight: bold;
    color:  #000000;
}